{% extends "base.html" %}
{% load static %}

{% block content %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <div class="container">



{% if hist_lgbt_cases_map_fig_div %}
{% autoescape off %}
  {{ hist_lgbt_cases_map_fig_div|safe }}
  {% endautoescape %}
{% else %}
<p>No graph was provided.</p>
{% endif %}

{% if curr_lgbt_cases_pie_fig_div %}
  {% autoescape off %}
  {{ curr_lgbt_cases_pie_fig_div|safe }}
  {% endautoescape %}
{% else %}
<p>No graph was provided.</p>
{% endif %}

    </div>

{% endblock %}
